* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {

    margin: 47px 0 100px 42px;
    font-weight: 400;
    font-size: 14px;
    color: #17233D;
}

.link-header {
    margin-right: 36px;
}

.button-header {
    width: 124px;
    height: 45px;
    border: 1px solid #4CB538;
    border-radius: 6px;
    background: #6FBF44;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button-header:hover {
    opacity: 0.9;

}

.button-header:active {
    opacity: 0.5;
}

main {
    display: inline-block;
}


.img-main {
    width: 495px;
    height: 400px;
    margin-left: 121px;
}

section {
    display: inline-block;
    margin-left: 80px;
}

h1 {
    width: 582px;
    font-size: 62px;
    font-weight: 700;
    color: #161A49;
    line-height: 82px;
    margin-bottom: 47px;
}

p {
    width: 490px;
    font-size: 18px;
    font-weight: 400;
    color: #4B505A;
    margin-bottom: 55px;
}

.button-section {
    width: 124px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    background: #161A49;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.button-section:hover {
    opacity: 0.9;

}

.button-section:active {
    opacity: 0.5;
}



@media screen and (max-width: 630px) {


    header {
        margin: 0%;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }


    .link-header {
        display: none;
    }

    .button-header {
        width: 91px;
        height: 31px;
        font-size: 12px;
        margin: 17px 15px 0 0;

    }


    .img-main {
        width: 312px;
        height: 288px;
        margin: 493px 42px 22px 39px;
        position: absolute;
    }



section{
    margin:50px 54px 0 55px;

}

h1{
    font-size: 30px;
    line-height: 30px;
    width: 278px;
    text-align: center;
}

p{
    font-size: 18px;
    line-height: 33px;
    width: 304px;
    text-align: center;
}

.button-section{
    display: block;
    margin:10px auto ;
}

}